<nav class="navbar">
  <a (mouseenter)="specialHoverFunction(img)" (mouseleave)="specialHoverFunctionLeave(img)" href=""><img src="../../assets/backarrow.png" #img class="backarrow"></a>
  <a href="About" class="anchor" #about> About Me</a>
  <a href="https://github.com/Statement-Creator" class="anchor" #github> GitHub </a>
  <a href="Contact" class="anchor" #contact> Contact Me </a>
  <a href="Portfolio" class="anchor" #portfolio> Portfolio </a>
</nav>
<div class="center">
  <h1> Abilities </h1>
  <div class="line"></div>
  <p> Here are some of the features I can offer you!</p>
</div>
<app-animation-feature></app-animation-feature>
<app-specialized-controls></app-specialized-controls>
<app-api-example></app-api-example>

