<div class="center">
  <div class="leftSide">
  <div >
    <a href="About" (mouseenter)="specialHoverFunction(about)" (mouseleave)="specialHoverFunctionLeave(about)">
      <img id="About-me" #about src="../../assets/Aboutme.png">
    </a>
  </div>
  <div class="Contact-Me" (mouseenter)="hoverFunction(contact)" (mouseleave)="hoverFunctionLeave(contact)">
    <a href="Contact">
      <img class="imgClass" #contact src="../../assets/Contactme.png">
    </a>
  </div>
  </div>
  <div class="Skills" (mouseenter)="hoverFunction(skills)" (mouseleave)="hoverFunctionLeave(skills)">
    <a href="Skills" >
      <img class="imgClass" #skills src="../../assets/Skills.png">
    </a>
  </div>
  <div class="rightSide" >
  <div class="Github" (mouseenter)="hoverFunction(github)" (mouseleave)="hoverFunctionLeave(github)">
    <a href="https://github.com/Statement-Creator">
      <img class="imgClass" #github src="../../assets/Github.png">
    </a>
  </div>
  <div class="Portfolio" (mouseenter)="hoverFunction(portfolio)" (mouseleave)="hoverFunctionLeave(portfolio)">
    <a href="Portfolio">
     <img class="imgClass" #portfolio src="../../assets/Portfolio.png">
    </a>
  </div>
  </div>
  </div>
