<div class="center">
    <h2> Simple API Calls </h2>
    <div class="line"></div>
    <p>API are used to access code from other software, frequently their data. Using API calls you can access data anything from weather apps to youtube subscribe counts. Here is an example of the current subscriber count of the famous PewDiePie's youtube channel.</p>
    <div>
    <div class="subBack">
        <img src="../../assets/pewdiepiepic.png" class="img" >
        <p class="subCountP1">(This number gets updated dynamically)</p>
        <p class="subCountP"> PewDiePie Subscribers: {{subCount}}</p>
    </div>
    </div>

</div>
