<nav class="navbar">
  <a (mouseenter)="specialHoverFunction(img)" (mouseleave)="specialHoverFunctionLeave(img)" href=""><img src="../../assets/backarrow.png" #img class="backarrow"></a>
  <a href="About" class="anchor" #about> About Me</a>
  <a href="Skills" class="anchor" #skills> Skills </a>
  <a href="https://github.com/Statement-Creator" class="anchor" #github> GitHub </a>
  <a href="Portfolio" class="anchor" #portfolio> Portfolio </a>
</nav>
<div class="center">
  <img class="selfie" src="../../assets/anotherSelfie.png">
  <h1>Contact Information</h1>
  <ul>
    <li>Phone: 514-886-7757 (May not respond)</li>
    <li>Email: <a href="mailto:npkden@hotmail.com">npkden@hotmail.com</a></li>
    <li>Location: Pointe-aux-Trembles, QC, Canada</li>
    <br>
    <br>
    <li> Note: If I can't respond to your call, you can always send an email. </li>
  </ul>
</div>