<nav class="navbar">
  <a (mouseenter)="specialHoverFunction(img)" (mouseleave)="specialHoverFunctionLeave(img)" href=""><img src="../../assets/backarrow.png" #img class="backarrow"></a>
  <a href="Contact" class="anchor" #contact> Contact Me</a>
  <a href="Skills" class="anchor" #skills> Skills </a>
  <a href="https://github.com/Statement-Creator" class="anchor" #github> GitHub </a>
  <a href="Portfolio" class="anchor" #portfolio> Portfolio </a>
</nav>
<div class="center">
  <h1 > Who am I? </h1>
  <div >
      <img class="selfie" src="../../assets/selfie for website.JPG">
  <!--    <button id="btn-toggle" (click)="toggleShowAbout(button)" (mouseenter)="HoverFunction(button)" (mouseleave)="HoverFunctionLeave(button)" #button> + </button> -->
  <p>Hello! I'm Dennis and I'll be working to give you an excellent service at low price. I’m excited to get in touch with you and offer you my expertise.

      If you'd like to explore the idea of owning your own website we could discuss together to help simplify your project and address any concerns you may have.
      
      I’d be happy to invite you to tour my portfolio and GitHub repository to examine my past work, and learn about my abilities. I would love to help you create a memorable and practical website that people will enjoy for years to come.
      
      Please contact me at 514-886-7757 whenever you feel like it to discuss your projects.  You can also reach me via email at <a href="mailto:npkden@hotmail.com">npkden@hotmail.com</a>.</p>
    </div>
</div>
